<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.siddhantlad.chefiecompile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ChefieImage"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".Welcome" />
        <activity android:name=".DatabaseSource.ArtistActivity" />
        <activity android:name=".DatabaseSource.SelectedItems" />
        <activity android:name=".DatabaseSource.AddRecipeActivity" />
        <activity android:name=".DatabaseSource.RecipeActivity" />
        <activity android:name=".DatabaseSource.MainActivity" />
        <activity android:name=".DatabaseSource.MainActivity2" />
        <activity android:name=".AddRecipeFab" />
        <activity android:name=".DatabaseSource.ImageUploader" />
        <activity android:name=".DisplayRecipeInfo"></activity>
    </application>

</manifest>